:root {
  --primary-color: #ff7b00;
  --secondary-color: #ffa94d;
  --background-color: #fff8f0;
  --text-color: #333;
  --border-radius: 4px;
  --font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color);
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.corpo{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.conteudo {
  width: 180vh;
  height: auto; 
  display: flex;
  justify-content: center; 
  flex-direction: row;
  gap: 2rem; 
  align-items: flex-start;
  flex-wrap: wrap; 
}
#nomebank{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10vh;
  color: rgb(135, 70, 4);
}
.cabecalho {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center; 
  text-align: center;
  padding: 0 5rem; 
}

.pessoa {
  justify-self: start; 
}
.titulo {
  justify-self: center; 
}

.sair {
  justify-self: end; 
}
.rodape{
  align-items: center;
  text-align: center;
}


/* Componentes reutilizáveis */
.card {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  min-height: 200px; 
  text-align: left;
  box-sizing: border-box;

 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal;
  overflow-y: auto; 
  max-height: 70vh; 
}

.card::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

.card::-webkit-scrollbar-thumb {
  background-color: rgb(135, 70, 4,0.5);
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  font-size: 14px;
  box-sizing: border-box;
}

input {
  border: 1px solid #ddd;
}

button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
}
